/**{
margin: 0;
padding: 0;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    background-color:rgb(51, 115, 87) ;
}
.container{
    background-color: rgb(228, 227, 211);
    padding: 2rem;
    border-radius:1rem;
    min-height: 40vh;
    min-width: 40vh;
    margin-top:50px;
}
form{
    margin:2rem 0 1 rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline:none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid rgb(109,159,113);
    font-size:1rem;
    height:3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top:2rem;

}
.select-container img{
max-width:2rem ;

}

.select-container{
    display: flex;
    width: 6rem;
    justify-content: center;
    align-items: center;
    background-color: rgb(46,45,77);
    border-radius:0.5rem;
    border:1px solid rgb(109,159,113);
}
.dropdown i{
    font-size: 1.5rem;
    margin-top:1rem;
}
.select-container select{
    font-size: 1rem;
    width: auto;
}
.msg{
    margin: 2rem 0 2rem 0;

}
form button{
    height:3rem ;
    background-color: rgb(203,72,183);
    color:white;
}
.amount{
    margin-top: ;
}*/

* {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(51,115,87);
    font-family: "Raleway", sans-serif;
  }
  
  .container {
    background-color: rgb(228,227,211);
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
  }
  
  form {
    margin: 2rem 0 1rem 0;
  }
  
  form select,
  button,
  input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    text-align: center;
    font-family: "Raleway", sans-serif;
  }
  
  form input {
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
  }
  
  .dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
  }
  
  .dropdown i {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .select-container img {
    max-width: 2rem;
    color: rgb(80,61,66);
  }
  
  .select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border: 1px solid lightgray;
  }
  
  .select-container select {
    font-size: 1rem;
    width: auto;
  }
  
  .msg {
    margin: 2rem 0 2rem 0;
    text-align: center;
  }
  
  form button {
    height: 3rem;
    background-color: rgb(80,61,66); /*rgb(46,45,77);*/
    color: #fff;
    font-size: 1.15rem;
    cursor: pointer;
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }
  .love{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 10px;
  }